<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>20/20 Opioid</title>
      <!-- Bootstrap core CSS -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="static/css/simple-sidebar.css" rel="stylesheet">
      <style>
         body {
         margin: 0;
         padding: 0;
         }
         h2,
         h3 {
         margin: 10px;
         font-size: 1.2em;
         }
         h3 {
         font-size: 1em;
         }
         p {
         font-size: 0.85em;
         margin: 10px;
         text-align: left;
         }
         {% block style %}
         {% endblock %}
      </style>
      {% block head %}
      {% endblock %}
   </head>
   <body>
      <div id="wrapper" class="toggled">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand">
                  <a href="/" style="font-size: 25px;">20/20 Opioid</a>
               </li>
               <li>
                  <a href="/">Map</a>
               </li>
               <li>
                  <a href="/ethnicity">Ethnicity</a>
               </li>
               <li>
                  <a href="/age">Age Group</a>
               </li>
               <li>
                  <a href="/gender">Gender</a>
               </li>
               <li>
                  <a href="/populationdensity">Population Density</a>
               </li>
               <li>
                  <a href="/analysis">Analysis</a>
               </li>
            </ul>
         </div>
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">
            <div class="container-fluid">
               <h1>20/20 Opioid</h1>
               <p>Tracking the Opioid Crisis</p>
               <a href="https://www.cdc.gov/nchs/data/nvsr/nvsr66/nvsr66_04.pdf" class="btn btn-secondary" id="menu-toggle">Hide Menu</a>
            </div>
            <br>



         </div>
         {% block page_content %}
         {% endblock %}


         <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Bootstrap core JavaScript -->
      <script href="static/css/jquery.min.js.download"></script>
      <script href="static/css/popper.min.js.download"></script>
      <script href="static/css/bootstrap.min.js.download"></script>
      <!-- Menu Toggle Script -->
      <script>
         $("#menu-toggle").click(function(e) {
           e.preventDefault();
           $("#wrapper").toggleClass("toggled");
         });
         
         
      </script>
      {% block script %}
      {% endblock %}
   </body>
</html>
