<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>20/20 Opioid</title>

      <!-- Bootstrap core CSS     -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet" />

      <!-- Animation library for notifications   -->
      <link href="static/css/animate.min.css" rel="stylesheet"/>
      <!--  Paper Dashboard core CSS    -->

      <link href="static/css/paper-dashboard.css" rel="stylesheet"/>


      <!-- Custom styles for this template -->
      <link href="static/css/simple-sidebar.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="static/css/themify-icons.css" rel="stylesheet">

      <style>
         body {
         margin: 0;
         padding: 0;
         }
         h2,
         h3 {
         margin: 10px;
         font-size: 1.2em;
         }
         h3 {
         font-size: 1em;
         }
         p {
         font-size: 0.85em;
         margin: 5px;
         text-align: left;
         }
         {% block style %}
         {% endblock %}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: #efefef;
  text-align: right;
}

      </style>
      {% block head %}
      {% endblock %}
   </head>
   <body>
      <div id="wrapper" class="toggled">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
               <li class="sidebar-brand">
                  <a href="/" style="font-size: 25px;">20/20 Opioid</a>
               </li>
               <li>
                  <a href="/">2014 Opioid Map</a>
               </li>

               <li>
                  <a href="/1999">1999 Opioid Map</a>
               </li>
               <li>
                  <a href="/total">Total Drug Overdose Map</a>
               </li>
               <li>
                  <a href="/ethnicity">Ethnicity</a>
               </li>
               <li>
                  <a href="/age">Age Group</a>
               </li>
               <li>
                  <a href="/gender">Gender</a>
               </li>
               <li>
                  <a href="/populationdensity">Population Density</a>
               </li>
               <li>
                  <a href="/analysis">Analysis</a>
               </li>
            </ul>
o         </div>
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">
            <div class="container-fluid">
               <h1>20/20 Opioid</h1>
               <p>Tracking the Opioid Crisis</p>

            </div>
            <br>



</div>        
	 {% block page_content %}
         {% endblock %}


         <!-- /#page-content-wrapper -->


      <!-- /#wrapper -->
      <!-- Bootstrap core JavaScript -->
      <script href="static/css/jquery.min.js.download"></script>
      <script href="static/css/popper.min.js.download"></script>
      <script href="static/css/bootstrap.min.js.download"></script>

      {% block script %}
      {% endblock %}
   </body>
<div class="footer"> 

 <a href="/">
                     20/20 Opioid 
                     </a> |
                     <a href="http://engineering.columbia.edu/">
                     Columbia Engineering: Art of Engineering
                     </a>

| &copy; <script>document.write(new Date().getFullYear())</script>,
  made with <i class="fa fa-heart heart"></i> by
  <a href="https://github.com/mk4036">Maria Kogan</a>,
  <a href="https://github.com/Ray725">Raymond Li</a>, and
  <a href="https://github.com/JasonMohabir">Jason Mohabir        </a>
</div>


</div>

</html>
