{% extends "masterTemplate.html" %}
{% block head %}
	 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          [	'Deaths'	,	'Population Density in Region'	]	,
      [95,209],
      [1,0],
      [60,81],
      [57,0],
      [251,687],
      [52,21],
      [741,50],
      [485,49],
      [378,154],
      [177,73],
      [222,15],
      [20,0],
      [231,45],
      [184,51],
      [55,13],
      [36,12],
      [112,27],
      [108,50],
      [43,0],
      [618,33],
      [871,157],
      [175,670],
      [68,30],
      [63,0],
      [88,31],
      [7,0],
      [24,0],
      [26,14],
      [148,0],
      [1218,256],
      [17,17],
      [420,246],
      [212,22],
      [10,0],
      [284,211],
      [57,0],
      [41,277],
      [286,96],
      [1021,11],
      [162,13],
      [11,0],
      [160,33],
      [105,187],
      [36,28],
      [67,0],
      [206,57],
      [107,158],
      [76,10],
      [106,30],
      [6,0],
        ]);
var options = {
          title: 'Opioid Deaths according to Population Density',
          hAxis: {title: 'Population Density (pop./mi2)', minValue: 0, maxValue: 1300},
          vAxis: {title: 'Opioid-Related Deaths', minValue: 0, maxValue: 700},
          legend: 'none'
        };


        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div1'));

        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          [	'Deaths'	,	'GDP per capita in Region'	]	,
      [37261,209],
      [63971,0],
      [38590,81],
      [36368,0],
      [58619,687],
      [52795,21],
      [64511,50],
      [63664,49],
      [39543,154],
      [44723,73],
      [51277,15],
      [35466,0],
      [54091,45],
      [45317,51],
      [50315,13],
      [46982,12],
      [38985,27],
      [43917,50],
      [38921,0],
      [55404,33],
      [65545,157],
      [43372,670],
      [53704,30],
      [31881,0],
      [43317,31],
      [39356,0],
      [53114,0],
      [43820,14],
      [51794,0],
      [57084,256],
      [41348,17],
      [64579,246],
      [44325,22],
      [62837,0],
      [47567,211],
      [44623,0],
      [50582,277],
      [50997,96],
      [47639,11],
      [37063,13],
      [48076,0],
      [43267,33],
      [53795,187],
      [44636,28],
      [43946,0],
      [51736,57],
      [56831,158],
      [36315,10],
      [47266,30],
      [58821,0],
       ]);
var options = {
          title: 'Opioid Deaths according to GDP per capita',
          hAxis: {title: 'GDP per capita', minValue: 30000, maxValue: 66000},
          vAxis: {title: 'Opioid-Related Deaths', minValue: 0, maxValue: 700},
          legend: 'none'
        };


        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div2'));

        chart.draw(data, options);
      }
    </script>


{% endblock %}

{% block page_content %}
    <div id="chart_div1" style="width: 900px; height: 500px;"></div>

<br>
    <div id="chart_div2" style="width: 900px; height: 500px;"></div>
{% endblock %}
